{% extends 'base.html' %}

{% block content %}
<!--<a href="{% url 'fundacion_signup' %}" class="btn btn-teacher btn-lg" role="button">Fundacion</a>-->
<a href="/"><i class="fas fa-arrow-left"></i> Volver</a>
<br>
<br>
  <p class="lead text-center">Seleccion el tipo de Usuario que quieres crear</p>
  <div class="container">
      <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button">Estudiante</a>
      <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">Profesor</a>
      <a href="{% url 'gestion_signup' %}" class="btn btn-teacher btn-lg" role="button">Gestión</a>
      <a href="{% url 'jefedepto_signup' %}" class="btn btn-teacher btn-lg" role="button">Jefe de Departamento</a>
      <a href="{% url 'fundacion_signup' %}" class="btn btn-teacher btn-lg" role="button">Fundacion</a>

    </div>
  

{% endblock %}
