{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <title>Planificacion</title>
  </head>
  <body>

    <div class="container">
    {% block content %}
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
          <li class="breadcrumb-item"><a href="{% url 'teachers:planificacion_list' %}">Lista asignatura</a></li>
          <li class="breadcrumb-item"><a href="{% url 'teachers:planificacion_curso' %}">Lenguaje Cursos</a></li>
          <li class="breadcrumb-item active" aria-current="page">5° Básico</li>
        </ol>
      </nav>

      <div class="card">
        <div class="card-header">
          <h3>Objetivos de aprendizajes 5° Básico</h3>
          </div>
        <div class="card-body">

          {% for planificacion in planificacion %}
          {% if planificacion %}
            <li>
              <a href="{% url 'teachers:planificacion_detail' pk=planificacion.pk %}" target="_blank">{{ planificacion.objetivos_aprendizaje }}</a>            </li>

          {% else %}
            <p>Sin especificaciones</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </body>
</html>