{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <h2 class="mb-3"><strong>Mis gestiones</strong> </h2>
  <br>  

  <div class="card">
    <table class="table mb-1">
      <thead>
        <tr>
          <th>Profesores</th>
          <th>Colegio</th>
          <th>Pruebas creadas</th>
          <th>Creada</th>

        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.owner }}</td>
            <td class="align-middle">{{ quiz.colegio.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.created|date:"d/m/y" }}</td>
            
            <td class="text-right">

              <a href="/" class="btn btn-primary">Ver examen</a>
              
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No hay examenes que puedas tomar en este momento.</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>


{% endblock %}