{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis exámenes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Banco de preguntas</li>
    </ol>
</nav>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group  mr-2">
            <a href="{% url 'teachers:crear_banco' %}" class="btn btn-primary btn-sm">Agregar preguntas</a>
        </div>
      
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Preguntas por curso</h5>
                <p class="card-text">Ver preguntas de tu asignatura por curso </p>
                <a href="#" class="btn btn-primary btn-sm">Ver</a>
            </div>
        </div>
    </div>
   <!-- 
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
    -->
</div>
  
{% endblock %}



