{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis exámenes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contenidos</li>
    </ol>
</nav>

<a href="{% url 'teachers:category_add' %}" class="btn btn-primary" style="float: right;"><i class="fas fa-plus-circle" ></i> Crear contenido</a>

<h2>Contenidos creados</h2>
<br>
<div class="card">
 <table class="table ">
    <thead>
        <tr>
            <th>Contenido</th>
            <th>Asignatura</th>

        </tr>

    </thead>
    <tbody>
        <tr>
            {% for categoria in categoria %}
         
            <td class="align-middle"> {{categoria.category}} </td>         
            <td class="align-middle"> {{categoria.asignatura}} </td>

        </tr>   
            {% endfor %}

  
    </tbody>

 </table>
</div>

{% endblock %}