{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis exámenes</a></li>
        <li class="breadcrumb-item"><a href="{% url 'teachers:category_list' %}">Contenidos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Contenidos</li>
    </ol>
  </nav>
  <h2 class="mb-3"><strong>Mis contenidos</strong> </h2>
  <form method="post" enctype="multipart/form-data", novalidate >
    {% csrf_token %}
    {{ form|crispy  }}
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'teachers:category_list' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>

  <hr>
  
{% endblock %}
