{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis exámenes</a></li>
        <li class="breadcrumb-item" aria-current="page">Banco de preguntas</li>
        <li class="breadcrumb-item active">Agregar pregunta</li>
    </ol>
</nav>
<form method="post" enctype="multipart/form-data",  novalidate >
    {% csrf_token %}
    <div class="row">
        <div class="col-4">{{form.titulo|as_crispy_field}}</div>
        <div class="col-4">{{form.curso|as_crispy_field}}</div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'teachers:banco_preguntas' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>

{% endblock %}



