<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />

        {% for quiz in quiz %}
        <title>{{ quiz.name }}</title>
        {% endfor %}
        <style type="text/css">
            
            
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
        </style>
    </head>
    <body>
    {% for quiz in quiz %}
        <div class='wrapper'>
            <div class='header'>
               <img src="{{img}}" style="width: 15%;" alt=""> 
            </div>
        <div>
            
   
           
               <h2> <center><strong>{{ quiz.name }}</strong></center></h2> 
                <br>
                <div>
                    <span class="mb-3"><strong>Profesor: </strong> {{ quiz.owner.first_name }} {{ quiz.owner.last_name }} </span> 

                    <p style="text-align: right;" class="mb-3"><strong>Curso: </strong> {{ quiz.curso }} {{quiz.nivel}} </p>     
                    <p class="mb-3"><strong>Puntos:</strong> {{quiz.max_score}}</p> 
                    
                </div>
    
                <br>
                <div class="card border-dark mb-3">
                  <div class="card-body">
                      <strong class="mb-3"> Instrucciones:</strong>
                      <p style="white-space: pre-wrap">{{ quiz.description }}</p>
        
                    <hr class='hrItem' />

                    </div>
                    <br>
   

        
                {% for pregunta in question %}
                    <br>

                <p ><strong> {{pregunta.number}}. {% if pregunta.pregunta %} {{pregunta.pregunta}} {% else %} {{ pregunta.text }} {% endif %} </strong>({{ pregunta.puntaje}} puntos) </p>
                {% if pregunta.image == 'False' %}
                <p></p>
                {% else %}
                {% if pregunta.image %}
                <a href="{{quizimg}}"></a>
                <div class="image-center">
                <a href="{{ quizimg.image.url }}" target="_blank"></a>
                
                </div>
                    <br>
                {% endif %}
            
                {% endif %}
                {% if pregunta.document == 'False' %}
                {% else %}
                {% if pregunta.document  %}
                <audio controls>    
                    <source src="{{ pregunta.document.url }}" type="audio/mpeg">
                    </audio>        
            
                {% endif %}
                <p></p>
                {% endif %}
                {% if pregunta.description %}
                <p>{{ pregunta.description }}</p>
                {% endif %}
                <br>   

                {% for answer in answer %}
                
                {% if answer.question == pregunta %}
                
                    <p >  <strong>{{ answer.text }}</strong>  {% if answer.is_correct  %}
                    <i class="fas fa-check"></i>
                    </p>   
                

                    {% endif %}
                {% endif %}

                {% endfor %}
                    <br>
                    {% empty %}

                    <p class="text-center">No se han creado preguntas aún</p>
                {% endfor %}
                </div>
                {% endfor %}
    </body>
</html>