{% load static %}
{% load crispy_forms_tags humanize %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <span class="mb-3">El profesor {{ quiz.owner.first_name }} {{ quiz.owner.last_name }} ah creado un examen ('{{quiz.name}}') de la asignatura '{{quiz.subject}}'.</span>
        <br>
        <div class="mb-3">
        <span class="mb-3">Curso: <strong>{{quiz.curso}} {{quiz.nivel}}</strong></span>
        </div>
        
        <span class="mb-3">Colegio: <strong>{{quiz.colegio}}</strong> </span> 
        <br>
       <a href=" http://192.168.0.181:81{% url 'jefedepto:quiz_info' quiz.pk %} ">Ver {{quiz.name}}</a>


        <footer>
            <br>
            <hr>
            <a href="https://www.bostoneduca.cl/">
                <img   src="https://www.bostoneduca.cl/images/logo.jpg?v13" height="70px" class=" img-fluid rounded"  alt="">
            </a>
        </footer>
       
    </body>
</html>