{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ question.text }}</li>
    </ol>
  </nav>
  <h2 class="mb-3"> {% if question.pregunta %} {{question.pregunta}} {% else %} {{ question.text }} {% endif %}</h2>
    {% if question.video == 'False' %}
  <p>No hay video</p>
  {% else %}

    {% if question.video  %}
  <video width="320" height="240" controls>
    <source src="{{ question.video.url }} " type="video/mp4">
  </video>
  {% endif %}
  {% endif %}
  {% if question.image == 'False' %}
  <p> No hay imagen </p>
  {% else %}
  {% if question.image %}
  <img src=" {{ question.image.url }} " class="img-fluid" style="width: 20%"/>
  {% endif %}
  {% endif %}
    {% if question.document == 'False' %}
  <p>No hay audio</p>
  {% else %}
  {% if question.document %}
  <audio controls='controls'>
    <source src="{{ question.document.url }}" type="audio/mpeg">
  </audio>


  {% endif %}
  {% endif %}
  <br>
  <!--
  {% if question.url %}
  <object width="560" height="315" data="https://www.youtube.com/embed/{{question.url}}"  ></object>
  {% else %}
  {% endif %}
  -->
  <br>
  <br>
  <form method="post" id="questionForm" data-indi.url="{% url 'teachers:ajax_load_indi' %}" enctype="multipart/form-data", novalidate >
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row">
      <div class="col-12">
        
      </div>
      <div class="col-2">
        {{ form.number|as_crispy_field }}
      </div>
      <div class="col-12"></div>
      <div class="col-4">
        {{ form.pregunta|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.text|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.description|as_crispy_field }}
      </div>
      <div  class="col-2">
        {{ form.objetivo|as_crispy_field }}
      </div>
      <div  class="col-4">
        {{ form.indicador|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.texto|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.puntaje|as_crispy_field }}
      </div>
      <div class="col-12">
      </div>
      <div class="col-4">
        {{ form.image|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.document|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.video|as_crispy_field }}
      </div>
      <!--<div class="col-4">{{form.url|as_crispy_field}}</div>
-->

    </div>
    <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <strong>Respuestas</strong>
          </div>

          <div class="col-4">
            <strong>Correcta?</strong>
          </div>
          <div class="col-2">
            <strong>Borrar?</strong>
          </div>
        </div>
      </div>
      {% for error in formset.non_form_errors %}
        <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
      {% endfor %}
      <div class="list-group list-group-flush list-group-formset">
        {% for form in formset %}
          <div class="list-group-item">
            <div class="row">
              <div class="col-6">
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {{ form.text|as_crispy_field }}
                {% if form.instance.pk and form.text.value != form.instance.text %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Antigua respuesta:</strong> {{ form.instance.text }}</small></p>{% endif %}
              </div>

              <div class="col-4">
                {{ form.is_correct }}
              </div>
              <div class="col-2">
                {% if form.instance.pk %}
                  {{ form.DELETE }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <p>
      <small class="form-text text-muted">Tus preguntas deben tener almenos <strong>2</strong> respuestas y un maximo de  <strong>5</strong> respuestas. Selecciona una respuesta correcta.</small>
    </p>
    <button type="submit" class="btn btn-success">Guardar cambios</button>

    <a href="{% url 'teachers:quiz_change' quiz.pk  %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
    <a href="{% url 'teachers:question_delete' quiz.pk question.pk %}" class="btn btn-danger float-right">Borrar</a>
  </form>



{% endblock %}
