{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Agregar nueva pregunta</li>
    </ol>
  </nav>
  <h2 class="mb-3">Agregar una nueva pregunta</h2>
  <form method="post" id="questionForm" data-indicador-url="{% url 'teachers:ajax_load_indi' %}" enctype="multipart/form-data",  novalidate >
    {% csrf_token %}
    <div class="row">
        <div class="col-2">
            {{ form.number|as_crispy_field }}
        </div>
        <div class="col-12"></div>
        <div class="col-4">
          {{ form.pregunta|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.text|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.objetivo|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.indicador|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.texto|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.puntaje|as_crispy_field }}
        </div>
        <div class="col-12">
        </div>
        <div class="col-4">
            {{ form.image|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.document|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.video|as_crispy_field }}
        </div>
        <!--
        <div class="col-4">{{form.url|as_crispy_field}}</div>
        -->
      </div>
      <br>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
      $("#id_objetivo").change(function () {
        var url = $("#questionForm").attr("data-indicador-url");
        var objetivoId = $(this).val();
  
        $.ajax({
          url: url,
          data: {
            'objetivo': objetivoId
          },
          success: function (data) {
            $("#id_indicador").html(data);
          }
        });
  
      });
    </script>

{% endblock %}
{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {% load static  %}
    {{ form.media.js }}
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script>
        $('.answer-form').formset({
            addText: 'add answer',
            deleteText: 'remove'
        });
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% endblock %}
