{% extends 'base.html' %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Mis Evaluaciones</li>
    </ol>
  </nav>
<div class="container-fluid mb-3">

  <h2 class="mb-3"><strong>Mis Evaluaciones</strong>

  {% for colegio in user.teacher.colegio.all %}


  <img src=" {{ colegio.imagen.url }} " class="img-fluid" data-toggle="tooltip" title="{{colegio.name}}" style="width: 20%; float: right;"/>


  {% endfor %}
  <br>
  </h2>
  <br>
  <p class="text-muted">Profesor de: {% for materia in user.teacher.interests.all %} <strong>{{materia.get_html_badge}}</strong>  {% endfor %}</p>
  <p class="text-muted">Colegio: {% for colegio in user.teacher.colegio.all %}{{colegio.get_html_badge}} {% endfor %}</p>
  <br>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group  mr-2">
        <a href="{% url 'teachers:quiz_add' %}" class="btn btn-primary mb-3 btn-sm" role="button"><i class="fas fa-plus-circle"></i> Añadir evaluación</a>
      </div>
      <div class="btn-group  mr-2">
        <a href="{% url 'teachers:texto_list'%}" class="btn btn-primary mb-3 btn-sm " role="button"><i  class="fas fa-book"></i> Ver Textos</a>
      </div>
      <div class="btn-group  mr-2">
        <a href="{% url 'teachers:banco_preguntas' %}" class="btn btn-primary mb-3 btn-sm " role="button" ><i class="fas fa-question"></i> Banco de preguntas</a>
      </div>
      <div class="btn-group  mr-2">
        <a href="{% url 'teachers:planificacion_list' %}" class="btn btn-primary mb-3 btn-sm" style="float: right;" role="button"><i  class="far fa-eye"></i> Ver Objetivos</a>
      </div>
      
    </div>
  </div>

</div>
  <br>

<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm">
      <thead>
        <tr class="text-center">
          <th>Evaluación</th>
          <th>Materia</th>
          <th>Curso</th>
          <th>Preguntas </th>
          <th>Tomadas</th>
          <th>Bloqueo</th>
          <th>Creada</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle"><a href="{% url 'teachers:quiz_change' quiz.pk %}" data-toggle="tooltip" data-placement="right" title="Editar">{{ quiz.name }}</a></td>
            <td class="align-middle text-center">{{ quiz.subject.get_html_badge }} </td>
            <td class="align-middle text-center ">{{ quiz.curso}} {{quiz.nivel}}</td>
            <td class="align-middle text-center">{{ quiz.questions_count }} </td>
            <td class="align-middle text-center">{{ quiz.taken_count }}</td>
            {% if quiz.lock == True %}
            <td class='align-middle text-center'>Bloqueada</td>
            {% else %}
            <td class='align-middle text-center'>Visible</td>
            {% endif %}
            <td class="align-middle text-center">{{ quiz.created|date:"d/m/y" }}</td>
            <td class="text-center">

              <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="btn btn-primary">Resultados</a>
              <a href="{% url 'teachers:generatepdf' quiz.pk %}" target="_blank" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="PDF"><i class="fas fa-file-download"></i></a>


            </td>
          </tr>

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No tienes creado ninguna evaluación todavia</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



{% endblock %}
