{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }}</li>
    </ol>
  </nav>

<div class="container-fluid">
  {% if quiz.colegio.imagen %}
  <img src=" {{ quiz.colegio.imagen.url }} " class="img-fluid" style="width: 20%, float-right"/>
  {% endif %}
    <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="btn btn-primary float-right">Ver resultados</a>

  <h3 class="mb-3">
    {{ quiz.name }}
    {% if quiz.validar == False %}
    <p class="text-center " style="color: red;">SIN VALIDAR</p>
    {% else %}
    <p class="text-center " style="color: blue;">VÁLIDA</p>
    {%endif%}
  
  </h3>
<br>
<br>
  <div class="row ">

    <div class="col-md-8 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.description|as_crispy_field }}
              </div>
            <div class="col-6">
                {{ form.porcen_pro|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.max_score|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.curso|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.nivel|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.time|as_crispy_field }}
            </div>
            <div class="col-6">
              {% if quiz.validar == True %}
              {{ form.lock|as_crispy_field }}

              {% endif %}
            </div>


        </div>
        <button type="submit" class="btn btn-success">Guardar cambios</button>
        <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
        <a href="{% url 'teachers:quiz_delete' quiz.pk %}" class="btn btn-danger float-right">Borrar</a>
        {% if quiz.validar == True %}
        {% else %}
        <a href="{% url 'teachers:send' quiz.pk %}" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Solo enviar cuando la prueba esté lista">Validar evaluación</a>

        {% endif %}

      </form>
    </div>
  </div>
<br>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <strong>Preguntas</strong>
        </div>
        <div class="col-4">
          <strong class='text-center'>Respuestas</strong>
        </div>
        <div class="col-2">
            <strong>Puntos</strong>
          </div>
      </div>
    </div>
    <div class="list-group list-group-flush list-group-formset">
      {% for question in questions %}

        <div class="list-group-item">
          <div class="row">
            <div class="col-6">
              <a href="{% url 'teachers:question_change' quiz.pk question.pk %}"> {{question.number}}. {% if question.pregunta %} {{question.pregunta}} {% else %} {{ question.text }} {% endif %}</a>

            </div>
            <div class="col-4">
              {{ question.answers_count }}

            </div>

            <div class="col-2">
              {{ question.puntaje}}

            </div>
          </div>
        </div>
      {% empty %}

        <div class="list-group-item text-center">
          <p class="text-muted font-italic mb-0">No hay preguntas aun, vamos a crear unas .</p>
        </div>

      {% endfor %}

    </div>

    </div>


    <div class="card-footer">
      <a href="{% url 'teachers:question_add' quiz.pk %}" class="btn btn-primary btn-sm">Agregar pregunta de alternativas</a>
      <a href="{% url 'teachers:tfquestion_add' quiz.pk %}" class="btn btn-primary btn-sm">Agregar pregunta de V/F</a>

    </div>

  </div>
</div>
  {% block footer %}
  {% endblock %}



{% endblock %}
