{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis exámenes</a></li>
      
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Confirmar Elimininación</li>
    </ol>
  </nav>
  <h2 class="mb-3">Confirmar</h2>
  <p class="lead">Esta seguro que desea borrar <strong>"{{ quiz.name }}"</strong>? No hay vuelta atrás.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Si, estoy seguro</button>
    <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Cancelar</a>
  </form>
{% endblock %}
