{% extends 'base.html' %}

{% load crispy_forms_tags humanize %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Resultados</li>
    </ol>
  </nav>
  <br>
  <h2 class="mb-3"><strong>{{ quiz.name }} </strong>Resultados</h2> 

  {% if total_taken_quizzes >= 1 %}
  <a href="{% url 'teachers:chart_data' quiz.pk %}" class="btn btn-secondary">Ver estadísticas</a>
  
  
  <a href="{% url 'teachers:student'   quiz.pk   %}" class="btn btn-primary">Respuestas Alumnos</a>  
  {% endif %}
  <br>
  <br>
  <div class="card">
    <div class="card-header">
      <strong>Exámenes tomados</strong>
      {% if quiz_score.average_score < 4.0 %}
      <span class=" badge badge-pill badge-danger mb-3 float-right">
          Promedio de Notas: {{ quiz_score.average_score|default_if_none:0.0 }}</span>
      {% else %}
        {% if quiz_score.average_score >= 4.0 %}
        <span class=" badge badge-pill badge-primary mb-3 float-right">
            Promedio de Notas: {{ quiz_score.average_score|default_if_none:0.0 }}</span>
        {% endif %}
      {% endif %}
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Alumno</th>
          <th>Curso</th>
          <th>Realizada</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td style="text-transform: uppercase;"> <strong>{{ taken_quiz.student.user.first_name }} {{taken_quiz.student.user.last_name}}</strong></td>
            <td>{{quiz.curso}} {{quiz.nivel}} </td>
            <td>{{ taken_quiz.date|date:"d/m/Y"}}</td>
            {% if taken_quiz.score < 3.9 %}
            <td class="align-middle badge badge-danger" >{{ taken_quiz.score }}</td>
            {% else %}
            {% if taken_quiz.score >= 4.0 and  taken_quiz.score <= 4.99 %}
            <td class="align-middle badge badge-success" ">{{ taken_quiz.score }}</td>
            {% else %}
            {% if taken_quiz.score >= 5.0 %}
            <td class="align-middle badge badge-primary" ">{{ taken_quiz.score }}</td>
            {% endif %}
            {% endif %}
            {% endif %}
            <td class="text-right">                
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer text-muted">
      Total de respuestas: <strong>{{ total_taken_quizzes }}</strong>
      
    </div>
  </div>
{% endblock %}
