{% extends 'base.html' %}

{% load crispy_forms_tags humanize %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis exámenes</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_results' quiz.pk %}">Resultados</a></li>
      <li class="breadcrumb-item active" aria-current="page">Respuestas Alumnos</li>
    </ol>
  </nav>

  <h2 class="mb-3"><strong>Respuestas de alumnos </strong>
    </h2> 
  <br>
  <br>

<div class="container">
<div class="card mb-3">
  <div class="card card-header">
      <h3>{{quiz.name}}</h3>
  </div>
  <div class="card-body mb-3">

      <br>
      <!-- Aqui se esta llamando a las preguntas del examen -->
      
      {% for question in question %}
        <br>
        <p> {{question.number}}.- <strong>{{ question.text }}</strong></p>
        <span> <strong>Indicador de evaluacion: </strong> {{question.planificacion}} </span>
<br>
        {% if question.image == 'False' %}
        <p></p>
        {% else %}
        <!-- se agrega condicionante de si una pregunta tiene examen la muestra -->
        {% if question.image %}
        
        <div class="image-center ">
          <a href="{{ question.image.url }}" target="_blank"><img src="{{ question.image.url }}"  class="img-fluid border border-dark" style="width: 20%;"/></a>
          
        </div>

        {% endif %}
      
        {% endif %}
        <!-- en caso de que la pregunta tuviera audio lo muestra -->
        {% if question.document == 'False' %}
        <p></p>
        {% else %}
          {% if question.document  %}
          <audio controls>    
              <source src="{{ question.document.url }}" type="audio/mpeg">
          </audio>        
      
          {% endif %}
        
        {% endif %}
        <br>
        {% if question.description %}
        <p>{{ question.description }}</p>

        {% endif %}
            <br>
        {% for answer in answer %}
        
        {% if answer.question == question %}
        
        <br><ul>
          <li>{{answer.text}} {% if answer.is_correct  %} <i class="fas fa-check"></i></li>
            {% endif %}
        </ul>
        {% endif %}

        {% for student in student %}
        {% if student.answer == answer and answer.question == question %}
      
          
            
        <br><span><strong>{{student.student.user.first_name}} {{student.student.user.last_name}}:</strong>{% if answer.is_correct  %} <i class="fas fa-check" style="color: blue;"></i></span>
          {%else%}
          <span><i class="fas fa-times" style="color: red;"></i></span>
          {% endif %}
            
          
        
        {% endif %}
        {% endfor %} 

        
        
        {% endfor %}
        <br>
        {% endfor %}   
      <hr>  
      
  </div>

</div>
 </div>


 

{% endblock %}