{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:texto_list' %}">Textos</a></li>     
      <li class="breadcrumb-item active" aria-current="page">Crear texto</li>
    </ol>
  </nav>

  <h2 class="mb-3"><strong>Crear textos</strong> </h2>
<div class="card">
  <div class="card-body ">
    <div class="row">
      <div class="col-md-12 col-sm-8 col-12">
        <form method="post" enctype="multipart/form-data", novalidate >
          {% csrf_token %}
          <div class="row">
            <div class="col-4">{{ form.titulo|as_crispy_field }}</div>
            <div class="col-2">{{ form.curso|as_crispy_field }}</div>
            <div class="col-4"></div>
            <div class="col-4">{{ form.subtitulo|as_crispy_field }}</div>
            <div class="col-12">{{ form.texto|as_crispy_field }}</div>

          </div>
          <button type="submit" class="btn btn-success">Guardar texto</button>
          <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
        </form>

      </div>
    </div>       
  </div>
</div>
  <hr>
  
{% endblock %}