{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
        <li class="breadcrumb-item active" aria-current="page">Textos</li>
    </ol>
</nav>

<a href="{% url 'teachers:texto_add' %}" class="btn btn-primary" style="float: right;"><i class="fas fa-plus-circle" ></i> Crear Texto</a>

<h2>Textos creados</h2>
<br>
<div class="card">
 
    <div class="card card-body">

        {% for texto in texto %}
        <ul>
            
            
            <li><p class="text-left"><a href="{% url 'teachers:texto_change' texto.pk %}" data-toggle="tooltip" data-placement="right" title="Editar">{{texto.titulo}}</a></p>
               <!-- <p class="text-justify" style="white-space: pre-wrap; ">{{texto.texto}}</p>--></li>
        </ul>
       

        {% endfor %}
<hr>
  
    </div>


</div>

{% endblock %}