{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:texto_list' %}">Textos</a></li>     
      <li class="breadcrumb-item active" aria-current="page">{{texto.titulo}}</li>
    </ol>
  </nav>
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card card-header ">
            <h3 class="mb-3">Editar Texto</h3>
        </div>
        <div class="card card-body">
        
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Guardar cambios</button>
                <a href="{% url 'teachers:texto_list' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
            </form>


        </div>
    </div>
</div>
{% endblock %}