{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Agregar nueva pregunta</li>
    </ol>
  </nav>
  <h2 class="mb-3">Agregar una nueva pregunta</h2>
  <p class="lead">Primero agregue el titulo de la pregunta. En el siguiente paso podra agregar posibles respuestas</p>
  
  
  <form method="POST" enctype="multipart/form-data", novalidate >
    {% csrf_token %}
    <div class="row">
      <div class="col-2">{{form.number|as_crispy_field}}</div>
      <div class="col-4">{{form.indicador|as_crispy_field}}</div>
      <div class="col-4">{{form.text|as_crispy_field}}</div>
      <div class="col-4">{{form.puntaje|as_crispy_field}}</div>
      <div class="col-4"> {{form.image|as_crispy_field}} </div>
      <div class="col-4">{{form.document|as_crispy_field}}</div>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>

{% endblock %}
{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {% load static%}
    {{ form.media.js }}
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script>
        $('.answer-form').formset({
            addText: 'add answer',
            deleteText: 'remove'
        });
    </script>
{% endblock %}
