{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>Probando</p>

<br>
{% for takenquiz in takenquiz %}
    <p>{{takenquiz.student.user.first_name}} {{takenquiz.student.user.last_name}} </p>
{% endfor %}

<p></p>
{{countplani}}
<br>
{% for question in question %}
    
   <p><strong>{{question.number}}. {{question.text}}</strong></p> 
    
   <p>Indicador:  {{question.planificacion}}</p>
   <br>

{% endfor %}
{% for plani in plani %}
<p>{{plani.indicador_evaluacion}}</p>
{% endfor %}








{% endblock %}