.is-countdown {
	border: 1px solid #ccc;
	background-color: #eee;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

#defaultCountdown { width: 240px; height: 45px; }

#imagelogo {
	height: 150px;
	width: 150px;
	margin: auto;
	display: inline-block;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {

  background: url("/static/img/educacion.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  
}

section {
	display: -webkit-flex;
	display: flex;
}
  
@media (max-width: 600px) {
	section {
	  -webkit-flex-direction: column;
	  flex-direction: column;
	}
}
* {
	box-sizing: border-box;
  }


.chart-container {
	width: 80%;
	height: 80px;
}
  
.pie-chart-container {
	height: 860px;
	width: 860px;
	float: left;
}