{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista asignatura</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>Objetivos de aprendizajes creados</h3>
     <a class="btn btn-outline-primary" href="{% url 'teachers:planificacion_add' %}" role="button">Crear nuevo objetivo de aprendizaje</a>
    </div>
</div>
<br>
<div class= "container-fluid" >
    {% for materia in user.teacher.interests.all %}
    {% if materia.id == 1 %}
    <p><a href="{% url 'teachers:planificacion_all' %}" class="btn btn-primary" role="button">{{materia}}</a></p>
    {% endif %}
    
    {% if materia.id == 2 %}
    <p><a href="{% url 'teachers:planificacion_curso' %}" class="btn btn-primary" role="button">{{materia}}</a></p>
    {% endif %}

    {% if materia.id == 3%}
    <p><a href="{% url 'teachers:planificacion_ciencias' %}" class="btn btn-primary" role="button"> {{materia}}</a></p>
    {% endif %}

    {% if materia.id == 4 %}
    <p><a href="{% url 'teachers:planificacion_ingles' %}" class="btn btn-primary" role="button"> {{materia }}</a></p>
    {% endif %}

    {% endfor %}
</div>
{% endblock %}