{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Planificación</li>
    </ol>
  </nav>



  <div class="row mb-3">

    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Guardar cambios</button>
        <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
        <a href="{% url 'teachers:planificacion_delete' planificacion.pk %}" class="btn btn-danger float-right">Borrar</a>   
      </form>
    </div>
  </div>

{% endblock %}