{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
            <li class="breadcrumb-item"><a href="{% url 'teachers:planificacion_list' %}">Lista asignatura</a></li>

            <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
</nav>



    <div class="card">
        <div class="card card-header">
            <h3 style="text-align: center;">Tabla de especificaciones</h3>
        
        </div>
            <br>
        <table class="table table-responsive">

            {% if object.objetivos_aprendizaje %}
            <tr>
                <th>OA</th>
                <td> {{object.unidad}} </td>
            </tr>
            <tr> 

                <th>Objetivo de aprendizaje:</th>
                <td>{{ object.objetivos_aprendizaje }}</td>
            </tr>
            {% endif %}

            {% if object.has_indicador %}
            {% for indicador in object.has_indicador.all %}
            <tr>
                <th>Indicador de evaluación:</th>
                <td class="align-middle" >{{indicador.indicador_evaluacion}}</td>
                <th>Dominio cognitivo:</th>
                <td class="align-middle" >{{indicador.dominio_cognitivo}}</td>
            </tr> 
            {% endfor %}
            {% endif %}

            <tr>
                <td><a class="btn btn-outline-info" href="{% url 'teachers:planificacion_change' pk=planificacion.id %}">Agregar indicador</a></td>
                <td><a class="btn btn-outline-danger" href="{% url 'teachers:planificacion_delete' pk=planificacion.id %}">Borrar</a></td>
            </tr>

        </table>
    </div>

{% endblock content %}