{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:planificacion_list' %}">Planificación</a></li>

      <li class="breadcrumb-item active" aria-current="page">Añadir una nueva planificación</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card">
        <div class="card-header">
            Crear planificación
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% crispy form %}
            <br>
            <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary mb-9"   role="button">Cancelar</a>
          
        </div>
    </div>
</div>

{% endblock %}