{% extends 'base.html' %}
{% load static %}

{% block content %}





  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'jefedepto:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jefedepto:quiz_info' quiz.pk %}">{{ quiz.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jefedepto:quiz_results' quiz.pk %}">Resultados</a></li>

        <li class="breadcrumb-item active" aria-current="page">Estadísticas</li>
    </ol>
  </nav>
<br>
<div >
  {% if quiz.colegio.imagen %}
  <img src=" {{ quiz.colegio.imagen.url }} " class="img-fluid" style="float: right;"/>
  {% endif %} 
  <h2 class="mb-3"><strong>{{quiz.name}} </strong> Estadísticas</h2>
      

</div>

<br>

<br> 


  <div class="card mb-3">
      <div class="card-head mb-3">
          <span class="badge badge-primary mb-3">Nota más alta: {{maximo.max}}</span>
          <span class="badge badge-danger mb-3">Nota más baja: {{minimo.min}}</span>
          <span class="badge badge-warning mb-3">Porcentaje aprobación: {{quiz.porcen_pro}}%</span>
          <span class="badge badge-info mb-3">Puntaje total: {{quiz.max_score}} puntos</span>
          <p class="badge badge-success mb-3">Puntaje de aprobación: {{puntaje_aprobacion}} </p>
          <p>Total respuestas: {{studentcount}}</p>
          <span class="badge badge-primary mb-3">Aprobados: {{studentcounta}} </span>
          <span class="badge badge-danger mb-3">Reprobados: {{studentcountr}} </span>
          
          <p>  </p>
      </div>
  </div>



  




    <br>
    <div class="card mb-3">
        <div class="card-header mb-3">

            <h3 class="text-center">Gráfico de porcentaje</h3>

        </div>

            <canvas id="myChart2"></canvas>

        <br>

        <div class="card-header mb-3">

            <h3 class="text-center">Gráfico de porcentaje de Alumnos aprobados y Alumnos reprobados</h3>
            
        </div>

            <canvas id="pieChart" width=400 height=180></canvas>

        <br>

    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>    

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: [  {% for question in question %} '{{question.indicador}}', {% endfor %} ],
            datasets: [{
                label: 'Alumnos que lograron el indicador',
                data: [{% for studentcorrecta in studentcorrecta %} '{{studentcorrecta.count}}', {% endfor %}],
                
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
  


<script>

  var ctx = document.getElementById('Chart').getContext('2d');
  var Chart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['Alumnos reprobados %','Alumnos aprobados %'],
          datasets: [{
              label: '%',
              data: [  {{porcentaje_reprobados}},{{porcentaje_aprobados}} ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: { 
 
      }
  });
  </script>


<script>
var data = {
    datasets: [{
        data: [
           {{porcentaje_aprobados}},{{porcentaje_reprobados}}
        ],
        backgroundColor: [
            "#36A2EB",
            "#FF6384",

            
        ],
        label: 'My dataset' // for legend
    }],
    labels: [
        'Alumnos aprobados ','Alumnos reprobados '
    ]
};

var pieOptions = {
  events: false,
  animation: {
    duration: 500,
    easing: "easeOutQuart",
    onComplete: function () {
      var ctx = this.chart.ctx;
      ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
      ctx.textAlign = 'center';
      ctx.textBaseline = 'bottom';

      this.data.datasets.forEach(function (dataset) {

        for (var i = 0; i < dataset.data.length; i++) {
          var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
              total = dataset._meta[Object.keys(dataset._meta)[0]].total,
              mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
              start_angle = model.startAngle,
              end_angle = model.endAngle,
              mid_angle = start_angle + (end_angle - start_angle)/2;

          var x = mid_radius * Math.cos(mid_angle);
          var y = mid_radius * Math.sin(mid_angle);

          ctx.fillStyle = '#fff';
          if (i == 3){ // Darker text color for lighter background
            ctx.fillStyle = '#444';
          }
          var percent = String(Math.round(dataset.data[i]/total*100)) + "%";
          ctx.fillText(dataset.data[i], model.x + x, model.y + y);
          // Display percent in another line, line break doesn't work for fillText
          ctx.fillText(percent, model.x + x, model.y + y + 15);
        }
      });               
    }
  }
};

var pieChartCanvas = $("#pieChart");
var pieChart = new Chart(pieChartCanvas, {
  type: 'pie', // or doughnut
  data: data,
  options: pieOptions
});
</script>


{% endblock %}



