{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags humanize %}
{% block content %}

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'jefedepto:index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'jefedepto:quiz_info' quiz.pk %}">{{ quiz.name }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Sugerencia</li>
        </ol>
</nav>
<!-- templates/email.html -->
<div class="card">
  <div class="card card-header">
    <h1>Sugerencia de corrección</h1>
  </div>
  <div class="card card-body">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-actions">
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
    </form>
  </div>

</div>
{% endblock %}