{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <h2 class="mb-3"><strong>Jefe de Departamento</strong> </h2>
  <br>  
  <p> <strong>Departamento:</strong>  {% for subject in user.jefe_depto.interests.all %}{{subject.get_html_badge}} {% endfor %}</p>
  <br>
  <br>
  <div class="table-responsive table-sm">
    <table id="example" class="table table-bordered ">
      <thead>
        <tr>
          <th>Id</th>
          <th>Profesor</th>
          <th>Colegio</th>
          <th>Curso</th>
          <th>Pruebas creadas</th>
          <th>Creada</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td class="align-middle">{{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</td>
            <td class="align-middle">{{ quiz.colegio.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.curso }}{{quiz.nivel}}</td>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.created|date:"d/m/y" }}</td>
            
            <td>
              <a href="{% url 'jefedepto:quiz_edit' quiz.pk %}" class="btn btn-primary">Ver examen</a>
              <a href="{% url 'jefedepto:quiz_results' quiz.pk %}" class="btn btn-primary">resultados</a>

            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No hay examenes que puedas tomar en este momento.</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% endblock %}