<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
        {% for quiz in quiz %}
        <title>{{quiz.name}}</title>
        {% endfor %}
        <style type="text/css">
            
            
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }


                                        

        </style>
    </head>
    <body>
    {% for quiz in quiz %}
        <div class='wrapper'>
            <div class='header'>
               <img src="{{img}}" alt=""> 
            </div>
        <div>
            
   
           
                <h2 class="text-center"><strong>{{ quiz.name }}</strong></h2> 
                <br>
                <div>
                    <p class="mb-3"><strong>Profesor: </strong>{{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</p> 
                    <p class="mb-3" style="float: right;" ><strong>Curso: </strong> {{ quiz.curso }}</p>     
                    <p class="mb-3"><strong>Puntos:</strong> {{quiz.max_score}}</p> 
                    
                </div>
        
        
        
                <br>
                <div class="card border-dark ">
                        <div class="card-body">
                                <strong>Instrucciones:</strong>
                                <br>
                                <br>
                                <p class="text-justify" style="white-space: pre-wrap; ">{{ quiz.description }}</p>
                                <pre style="font-family: Arial, Helvetica, sans-serif"></pre>
                        </div>
        
                </div>
        
        
            <hr class='hrItem' />

        </div>
        {% for pregunta in question %}
        <br>
        <h3>Pregunta</h3>
        <p> {{ pregunta.planificacion.planificacion }} </p>
        <p> <strong>Indicador evaluacion:</strong>  {% if pregunta.planificacion == False %} <p></p> {% else %} {% if pregunta.planificion %} {{pregunta.planificacion}} {% endif %}{% endif %} </p>
    <p ><strong> {{pregunta.number}}. {{ pregunta.text }} </strong>({{ pregunta.puntaje}} puntos) </p>
    {% if pregunta.image == 'False' %}
    <p></p>
    {% else %}
    {% if pregunta.image %}
    <div class="image-center">
      <a href="{{ pregunta.image.url }}" target="_blank"><img src="{{ pregunta.image.url }}"  class="img-fluid border border-dark" style="width: 20%;"/></a>
      
    </div>
        <br>
    {% endif %}
  
    {% endif %}
    {% if pregunta.document == 'False' %}
    {% else %}
      {% if pregunta.document  %}
      <audio controls>    
          <source src="{{ pregunta.document.url }}" type="audio/mpeg">
        </audio>        
  
      {% endif %}
    <p></p>
    {% endif %}
    {% if pregunta.description %}
    <p>{{ pregunta.description }}</p>
    {% endif %}
    <br>   

<h3>Respuesta</h3>

    {% for answer in answer %}
    
      {% if answer.question == pregunta %}
     
        <p >  <strong>{{ answer.text }}</strong>  {% if answer.is_correct  %}
        <i class="fas fa-check"></i>
        </p>   
    

        {% endif %}
      {% endif %}

    {% endfor %}
        <br>
        {% empty %}

        <p class="text-center">No se han creado preguntas aún</p>
    {% endfor %}
        </div>
     {% endfor %}
    </body>
</html>