{% extends 'base.html' %}
{% block content %}
<h5></h5>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'jefedepto:index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }}</li>
    </ol>
  </nav>
<!-- <a href="{% url 'jefedepto:index'  %}"><i class="fas fa-arrow-left"></i> Volver</a> -->
<a href="{% url 'jefedepto:email' quiz.pk %}" class="btn btn-success" style="float: right;" > Sugerir correcciones </a>

<a href="{% url 'jefedepto:generatepdf' quiz.pk %}" target="print" class="btn btn-default btn-circle" style="float: right;">  
    <span class="fa fa-print"></span>  
 </a>


 <br>
 <br>
<div class="card container" style=" font-family: Arial, Helvetica, sans-serif">
        <h2 class="text-center"><strong>{{ quiz.name }}</strong></h2> 
        <br>
        <div>
            <p class="mb-3"><strong>Profesor: </strong> {{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</p> 
            <p class="mb-3" style="float: right;" ><strong>Curso: </strong> {{ quiz.curso }}</p>     
            <p class="mb-3"><strong>Puntos:</strong> {{quiz.max_score}}</p> 
            
        </div>



        <br>
        <div class="card border-dark ">
            <div class="card-body">
                    <strong>Instrucciones:</strong>
                    <br>
                    <br>
                    <p class="text-justify" style="white-space: pre-wrap; ">{{ quiz.description }}</p>
                    <pre style="font-family: Arial, Helvetica, sans-serif"></pre>
            </div>

    </div>



        <br>
        <hr>


            <br>
            {% for pregunta in question %}
          <div class="card card-header"> 
            
            <h3>Pregunta</h3>
 
              <script>{{ pregunta.text }}</script>               
              <p> <strong>Objetivo de aprendizaje:</strong> {% if pregunta.planificacion  %} {{planificacion.objetivos_aprendizaje}} {% endif %}</p>
              <p> <strong>Indicador evaluacion:</strong> {{pregunta.planificacion}} </p>
              <p ><strong> {{pregunta.number}}. {{ pregunta.text }} </strong>({{ pregunta.puntaje}} puntos) </p>
          {% if pregunta.video == 'False' %}
          <p></p>

          {% else %}
          {% if pregunta.video %}
          <video width="320" height="240" controls='controls'>
            <source src="{{ pregunta.video.url }} " type="video/mp4">
          </video>
          {% endif %}
          {% endif %}
          {% if pregunta.image == 'False' %}
          <p></p>
          {% else %}
          {% if pregunta.image %}
          <div class="image-center">
            <a href="{{ pregunta.image.url }}" target="_blank"><img src="{{ pregunta.image.url }}"  class="img-fluid border border-dark" style="width: 20%;"/></a>
            
          </div>
              <br>
          {% endif %}
        
          {% endif %}
          {% if pregunta.document == 'False' %}
          {% else %}
            {% if pregunta.document  %}
            <audio controls>    
                <source src="{{ pregunta.document.url }}" type="audio/mpeg">
              </audio>        
        
            {% endif %}
          <p></p>
          {% endif %}
          {% if pregunta.description %}
          <p>{{ pregunta.description }}</p>
          {% endif %}
          <br>  
        </div>  
      <div class="card card-body">
        <h3>Respuesta</h3>
      
        {% for answer in answer %}
        
          {% if answer.question == pregunta %}
         
            <p >  <strong>{{ answer.text }}</strong>  {% if answer.is_correct  %}
            <i class="fas fa-check"></i>
            </p>   
        

            {% endif %}
          {% endif %}

        {% endfor %}
            <br>
            {% empty %}

            <p class="text-center">No se han creado preguntas aún</p>
        {% endfor %}

    </div> 
</div>

<br>


{% endblock %}