{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'jefedepto:index' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }}</li>
    </ol>
  </nav>

<div class="container-fluid">
  {% if quiz.colegio.imagen %}
  <img src=" {{ quiz.colegio.imagen.url }} " class="img-fluid" style="width: 20%, float-right"/>
  {% endif %}

  <h3 class="mb-3">
    {{ quiz.name }}
    {% if quiz.validar == False %}
    <p class="text-center " style="color: red;">SIN VALIDAR</p>
    {% else %}
    <p class="text-center " style="color: blue;">VÁLIDA</p>
    {%endif%}
  
  </h3>
<br>
<br>
  <div class="row ">

    <div class="col-md-8 col-sm-8 col-12">
          <h3 class="text-center"> <strong>{{quiz.name}}</strong> </h3>
            
            
          <div class="card border-dark ">
            <div class="card-body">
                    <strong>Instrucciones:</strong>
                    <br>
                    <br>
                    <p class="text-justify" style="white-space: pre-wrap; ">{{ quiz.description }}</p>
                    <pre style="font-family: Arial, Helvetica, sans-serif"></pre>
            </div>

    </div>    
 
      <p class="mb-3" style="float: right;" ><strong>Curso: </strong> {{ quiz.curso }} {{ quiz.nivel }}</p>     
      <p class="mb-3"><strong>Puntos:</strong> {{quiz.max_score}}</p> 
      <p class="mb-3"><strong>Tiempo: </strong>{{ quiz.time }} Minutos</p> 
    <br>
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            {{ form.validar|as_crispy_field }}

          </div>
        

<br>

        </div>
<br>
<hr>
          <!--Preguntas-->
          {% for question in question %}
          
          <strong><p> {{forloop.counter}}.- {{question.text}}</p></strong>
          {% if question.image == 'False' %}
          <p></p>
          {% else %}
          <!-- se agrega condicionante de si una pregunta tiene imagen la muestra -->
          {% if question.image %}
          
         
          <a href="{{ question.image.url }}" target="_blank"><img src="{{ question.image.url }}"  class="img-fluid border border-dark" style="width: 30%;"/></a> 
            

  
          {% endif %}
        
          {% endif %}
          <!-- en caso de que la pregunta tuviera audio lo muestra -->
          {% if question.document == 'False' %}
          <p></p>
          {% else %}
            {% if question.document  %}
            <audio controls>    
                <source src="{{ question.document.url }}" type="audio/mpeg">
            </audio>        
        
            {% endif %}
          
          {% endif %}
          <!-- Si la pregunta tiene video lo muestra -->
          {% if question.video == 'False' %}
          <p></p>
          {% else %}
          {% if question.video %}
          <video width="320" height="240" controls='controls'>
              <source src="{{ question.video.url }} " type="video/mp4">
          </video>
          {% endif %}
          {% endif %}
           <p style="text-indent: 4%;">{{question.description}}</p>

          <!-- Respuestas -->
          {% for answer in answer %}
          {% if answer.question == question %}
           <p style="text-indent: 4%;">
            <ul type="a">
              <li>{{answer.text}} {%if answer.is_correct == True%} <i class="fas fa-check"></i> {%endif%}</li>
            </ul> </p> 
            {% endif %}
          {% endfor %}
          {%endfor%}
            <br>
        <button type="submit" class="btn btn-success">Guardar cambios</button>
        <a href="{% url 'jefedepto:index' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>

      </form>

      </div>
    </div>
  </div>


</div>
  {% block footer %}
  {% endblock %}
{% endblock %}
