{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <h2 class="mb-3">{{ quiz.name }}</h2>

  <hr>
  <br>
  <h5 class="lead">{{ question.text }}</h5>
  {% if question.image %}
  <div class="image-center">
    <img src="{{ question.image.url }}" class="img-fluid " style="width: 15%;"/>
  </div>
  {% endif %}
  {% if question.document %}
  <p>Audio <a href="{{ question.document.url }}"><i class="fas fa-volume-up"></i></a></p>
  {% endif %}
  

{% endblock %}
