{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'jefedepto:index' %}">Mis evaluaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Añadir una nueva evaluacion</li>
    </ol>
  </nav>
<div class="container-fluid">
  
  {% for colegio in user.jefedepto.colegio.all %}
  <div class="mb-3">
      <p class="mb-3"><img src=" {{ colegio.imagen.url }} " class="img-fluid mb-3" style="width: 18%; float: right;"/></p>

    <h2 class="mb-3">Crear una nueva evaluación</h2>

  </div>

  {% endfor %}
</div>
<br>
  <div class="card">
    <div class="card-body ">
      <div class="row ">
        <div class="col-md-8 col-sm-8 col-12">
          
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'jefedepto:index' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
