{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'fundacion:index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'fundacion:colegios' %}">Colegios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Agregar Colegios</li>
    </ol>
  </nav>
  <h2 class="mb-3"><strong>Mis Colegios</strong> </h2>
  <form method="post" enctype="multipart/form-data", novalidate >
    {% csrf_token %}
    {{ form|crispy  }}
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'fundacion:index' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
  </form>
{% endblock %}