{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'fundacion:index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Colegios</li>
    </ol>
  </nav>
  <br>

  <h2 class="mb-3">
        <strong>Colegios</strong> 
        <a href="{% url 'fundacion:colegio_add'%}" class="btn btn-primary mb-3 float-right"  role="button">Agregar colegios</a>
      </h2>
 

  <hr>
  
    <ol>
    {% for colegios in colegios %}
    <br>
    <li class="mb-3">{{colegios.name}}  </li>
 
    <img src=" {{ colegios.imagen.url }} " class="img-fluid" style="width: 18%;"/>
    <br>
    {% endfor %}

    </ol>



{% endblock %}