{% extends 'base.html' %}
{% block content %}
<!--Vista de los profesores con examenes creados-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <h2 class="mb-3"><strong>Mis gestiones</strong> </h2>
  <br>  
  
 <!--<a href="/" class="btn btn-primary mb-3" role="button">Añadir examen</a>--> 


  <h2 class="mb-3">
    <a href="{% url 'fundacion:colegios'%}" class="btn btn-primary mb-3 "  role="button">Ver colegios</a>
    <a href="{% url 'fundacion:user_list' %}" class="btn btn-primary mb-3"> Ver lista de usuarios </a>
  </h2>


  <div class="card table-responsive">
    <table class="table mb-1">
      <thead>
        <tr>
          <th>Profesor</th>
          <th>Colegio</th>
          <th>Pruebas creadas</th>
          <th>Creada</th>

        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.owner.first_name}} {{quiz.owner.last_name}} </td>
            <td class="align-middle">{{ quiz.colegio.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.created|date:"d/m/y" }}</td>
            
            <td class="text-right">

              <a href="{% url 'fundacion:quiz_info' quiz.pk  %}" class="btn btn-primary">Ver examen</a>
              
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No hay exámenes creados este momento.</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>


{% endblock %}