{% extends 'base.html' %}
{% block content %}
<h5></h5>
<a href="{% url 'fundacion:index'  %}"><i class="fas fa-arrow-left"></i> Volver</a>

<div class="card container" style=" font-family: Arial, Helvetica, sans-serif">
        <h2 class="text-center"><strong>{{ quiz.name }}</strong></h2> 
        <br>
        <div>
            <p class="mb-3"><strong>Profesor: </strong> {{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</p> 
            <p class="mb-3" style="float: right;" ><strong>Curso: </strong> {{ quiz.curso }}</p>     
            <p class="mb-3"><strong>Puntos:</strong> {{quiz.max_score}}</p> 

        </div>



        <br>
        <div class="card border-dark mb-3">
          <div class="card-body">
              <strong class="mb-3"> Instrucciones:</strong>
          
              <br>
              <pre style="font-family: Arial, Helvetica, sans-serif">{{ quiz.description }}</pre>
          </div>

        </div>


        <br>
        <hr>

        {% for pregunta in question %}
            <br>
            <h3>Pregunta</h3>
        <p ><strong> {{pregunta.number}}. {{ pregunta.text }} </strong>({{ pregunta.puntaje}} puntos) </p>
        {% if pregunta.image == 'False' %}
        <p></p>
        {% else %}
        {% if pregunta.image %}
        <div class="image-center">
          <a href="{{ pregunta.image.url }}" target="_blank"><img src="{{ pregunta.image.url }}"  class="img-fluid border border-dark" style="width: 20%;"/></a>
          
        </div>
            <br>
        {% endif %}
      
        {% endif %}
        {% if pregunta.document == 'False' %}
        {% else %}
          {% if pregunta.document  %}
          <audio controls>    
              <source src="{{ pregunta.document.url }}" type="audio/mpeg">
            </audio>        
      
          {% endif %}
        <p></p>
        {% endif %}
        {% if pregunta.description %}
        <p>{{ pregunta.description }}</p>
        {% endif %}
        <br>   

   <h3>Respuesta</h3>

        {% for answer in answer %}
        
          {% if answer.question == pregunta %}
         
            <p >  <strong>{{ answer.text }}</strong>  {% if answer.is_correct  %}
            <i class="fas fa-check"></i>
            </p>   
        

            {% endif %}
          {% endif %}

        {% endfor %}
            <br>
            {% empty %}

            <p class="text-center">No se han creado preguntas aún</p>
        {% endfor %}


</div>

<br>

{% endblock %}