{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Vista de todos los usuarios registrados en el sistema excluyendo los de fundación-->


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item "><a href="{% url 'fundacion:index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Usuarios registrados</li>
    </ol>
</nav>

 <h3>Lista de usuarios</h3>
<!--Filtro de búsqueda-->
 <i class="fas fa-search"></i><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre" title="Buscar por rut"  >
 <a href="{% url 'fundacion:reporte_todos_excel' %}" class="btn btn-primary" style="float: right;">Descargar Excel</a>
 <a href="{% url 'fundacion:reporte_personas_excel' %}" class="btn btn-primary">Descargar profes</a>

 <br>
 <br>
<div class="card table-responsive">
        <table  class="table mb-6  ">
          <thead>
            <tr>              
              <th>Rut</th>
              <th>Nombre</th>
              <th>Asignación</th>
              <th>Correo</th>
              <th>Colegio</th>
            </tr>
          </thead>
          <tbody id="myTable">
           
    
        
            {% for user in user %}
            <tr>
                {% if user.is_teacher %}
                <td  class="align-middle mb-3"> {{ user.username }}</td>
                <td class="align-middle mb-3"> {{ user.first_name }} {{ user.last_name }} </td>
                <td class="align-middle mb-3"> Profesor</td>
                <td class="align-middle mb-3"> {{ user.email }} </td>
                {% for colegio in user.teacher.colegio.all %}
                <td class="align-middle">{{colegio.name}}</td>
                {% endfor %}

                {% endif %}
            </tr>
            <tr>
                {% if user.is_jefedepto %}
                <td class="align-middle mb-3"> {{ user.username }} </td>
                <td class="align-middle mb-3"> {{ user.first_name }} {{ user.last_name }} </td>
                <td class="align-middle mb-3"> Jefe de departamento </td>
                <td class="align-middle mb-3"> {{ user.email }} </td>
                {% for colegio in user.jefe_depto.colegio.all %}
                <td class="align-middle"> {{colegio.name}}</td>
                {% endfor %}

                {% endif %}
            </tr>
            <tr>
                {% if user.is_student %}
                <td class="align-middle mb-3"> {{user.username}} </td>
                <td class="align-middle mb-3"> {{ user.first_name }} {{ user.last_name }} </td>
                <td class="align-middle mb-3"> Estudiante</td>
                <td class="align-middle mb-3"> </td>
                {% for colegio in user.student.colegio.all %}
                <td class="align-middle mb-3"> {{colegio.name}}</td>
                {% endfor %}
                

                {% endif %}
            </tr>
            {% empty %}
              <tr>
                <td class="bg-light text-center font-italic" colspan="4">No hay usuarios registrados en este momento.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
     
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--Función del buscador-->
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>


{% endblock %}