{% extends 'base.html' %}

{% block content %}
<!--   <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Registrar</a>
-->
  <div class="text-right">  
    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Ingresar</a>
  </div>
  <h2>Bienvenido a BostonEduca Quiz! <span class="icon-emo-happy"></span></h2>
  

  <hr>
  <h3>¿Que es esto?</h3>
  <p>
    Esta aplicación esta diseñada para mejorar el sistema educativo de nuestros colegios. Es por eso, que podrás crear
    evaluaciones para que puedan ser realizados de manera online por los alumnos.

  </p>
  <p>Esto es diseñado para alumnos y profesores.</p>
  <footer class=" text-center text-muted">Fundación Educacional Boston Educa</footer>
  <p class=" text-center text-muted">&copy; 2019-2020</p>

{% endblock %}
