{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<title>jQuery Countdown</title>
<link rel="stylesheet" href="css/jquery.countdown.css">

<style type="text/css">

#defaultCountdown { width: 240px; height: 45px; }

</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="{% static "js/jquery.plugin.min.js" %}"></script>
<script src="{% static "js/jquery.countdown.js" %}"></script>

<script>

$(function () {

$('#defaultCountdown').countdown({ 
    onExpiry: liftOff});

$('#shortlyStart').click(function() { 
	console.log('Click');
    shortly = new Date(); 
    shortly.setSeconds(shortly.getSeconds() + 5.5); 
    $('#defaultCountdown').countdown('option', {until: shortly}); 
}); 

function liftOff() { 
    alert('El Examen ah terminado!'); 
} 

});



</script>

</head>

<body>

<h1>jQuery Countdown Basics</h1>
<br>
<div id="defaultCountdown"></div>
<button type="button" id="shortlyStart">Start</button>


</body>
</html>
