{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}BostonEduca Quiz{% endblock %}</title>
    <link rel="icon" href="{% static "img/favicon.png" %}">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontello-2f186091/css/fontello.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static "css/jquery.countdown.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="{% static "js/jquery.rut.js" %}"></script>


    <style type="text/css">

      #defaultCountdown { width: 240px; height: 45px; }

    </style>
    {% if user.is_authenticated and user.is_teacher %}
      <link rel="stylesheet" type="text/css" href="{% static "css/teachers.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static "css/jquery.countdown.css" %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 

      <style type="text/css">

        #defaultCountdown { width: 240px; height: 45px; }

      </style>
    {% else %}
    {% if user.is_authenticated and user.is_student %}
      <link rel="stylesheet" type="text/css" href="{% static "css/students.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static "css/jquery.countdown.css" %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 

      <style type="text/css">

        #defaultCountdown { width: 240px; height: 45px; }

        </style>
    {% else %}
    {% if user.is_authenticated and user.is_fundacion %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fundacion.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static "css/jquery.countdown.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 

   <style type="text/css">

      #defaultCountdown { width: 240px; height: 45px; }

      </style>
    {% else %}
    {% if user.is_authenticated and user.is_gestion %}
    <link rel="stylesheet" type="text/css" href="{% static "css/gestion.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static "css/jquery.countdown.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 

    <style type="text/css">

      #defaultCountdown { width: 240px; height: 45px; }

      </style>
      {% else %}
      {% if user.is_authenticated and user.is_jefedepto %}
      <link rel="stylesheet" type="text/css" href="{% static "css/jefedepto.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static "css/jquery.countdown.css" %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <style type="text/css">

        #defaultCountdown { width: 240px; height: 45px; }

        </style>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}

  </head>
  <body style="zoom: 95%;">


    <div class="container-fluid my-4">
      <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
          <div class="row">
            <div class="col-6">

              <h1>
                <a href="{% url 'home' %}">
                  <img   src="{% static "img/logo.jpg" %}" height="70px" class=" img-fluid rounded"  alt="">

                    {% if user.is_authenticated and user.is_teacher %}
                      <span  class="icon-feather" data-toggle="tooltip" data-placement="right" title="Perfil Profesor"></span>

                      {% else %}
                      {% if user.is_authenticated and user.is_student %}
                      <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Perfil Alumno"></span>
                      {% else %}
                    {% if user.is_authenticated and user.is_fundacion %}
                    <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Perfil Fundación"></span>
                      {% else %}
                    {% if user.is_authenticated and user.is_gestion %}
                    <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Perfil Gestión"></span>
                      {% else %}
                    {% if user.is_authenticated and user.is_jefedepto %}
                    <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Perfil Jefe Departamento"></span>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}

                </a>
              </h1>
            </div>
            <div class="col-6 text-right">
              {% if user.is_authenticated and user.is_teacher %}

                  <p class="pt-3"><strong>Profesor:</strong> <strong>{{ user.first_name }}  {{user.last_name}}</strong>. <a href="{% url 'logout' %}">Salir</a>.</p>


                  {% else %}
              {% if user.is_authenticated and user.is_student %}
                  <p class="pt-3"><strong>Alumno:</strong> <strong>{{ user.first_name }}  {{user.last_name}}</strong>. <a href="{% url 'logout' %}">Salir</a>.</p>
                {% else %}
              {% if user.is_authenticated and user.is_fundacion %}
                <p class="pt-3"> <strong>Fundación:</strong>  <strong>{{ user.first_name }}  {{user.last_name}}</strong>. <a href="{% url 'logout' %}">Salir</a>.</p>
                {% else %}
              {% if user.is_authenticated and user.is_gestion %}
                <p class="pt-3"> <strong>Gestion:</strong> <strong>{{ user.first_name }}  {{user.last_name}}</strong>. <a href="{% url 'logout' %}">Salir</a>.</p>
                {% else %}
              {% if user.is_authenticated and user.is_jefedepto %}

                  <p class="pt-3"><strong> departamento:</strong> <strong>{{ user.first_name }}  {{user.last_name}}</strong>. <a href="{% url 'logout' %}">Salir</a>.</p>
              {% endif %}
              {% endif %}

              {% endif %}
              {% endif %}
              {% endif %}

            </div>
          </div>




          <div class="card mb-3">
            <div class="card-body">
              {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}

              {% block content %}

              {% endblock %}
            </div>
          </div>

          {% block footer %}

          {% endblock %}
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/jquery.plugin.min.js" %}"></script>
    <script src="{% static "js/jquery.chained.js" %}"></script>
    <script src="{% static "js/jquery.chained.min.js" %}"></script>

    <script src="{% static "js/jquery.countdown.js" %}"></script>
    <script src="{% static "js/jquery.countdown-es.js" %}"></script>
    <script src="{% static "js/timer.js" %}"></script>
    <script src="{% static "js/jquery.rut.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
            $('#example').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
            });
      } );
    </script>



<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
</script>



<script>
  $("#id_objetivo").change(function () {
    var url = $("#questionForm").attr("data-indicador-url");
    var objetivoId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'objetivo': objetivoId
      },
      success: function (data) {
        $("#id_indicador").html(data);
      }
    });

  });
</script>








</body>
</html>
