<div class="container-fluid">
<h2> <strong>Exámenes</strong>

  {% for colegio in user.student.colegio.all %}
  <img src=" {{ colegio.imagen.url }} " class="img-fluid" style="width: 18%; float: right;"/>
  {% endfor %}
</h2>
<p class="text-muted">
  Asignaturas:{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
  
 {# <a href="{% url 'students:student_interests' %}"><small>(update interests)</small></a>  #} 
</p>
<p class="text-muted">Curso: {% for curso in user.student.curso.all %} {{curso}}{% endfor %}{% for nivel in user.student.nivel.all %} {% if nivel.id == 1 %} {{nivel}} {% else %} {% if nivel.id == 2 %} {{nivel}} {% else %}{% if nivel.id == 3 %} {{nivel}} {% else %}{% if nivel.id == 4 %} {{nivel}} {% endif %} {% endif %}{% endif %}{% endif %}{% endfor %}</p>
<p class="text-muted">Colegio: {% for colegio in user.student.colegio.all %} {{colegio.get_html_badge}}{% endfor %}</p>
</div>
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'students:quiz_list' %}">Nuevos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'students:taken_quiz_list' %}">Tomados</a>
  </li>
</ul>
