{% extends 'base.html' %}
<!--Formulario para editar el curso del alumno-->
{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-3">Modificar tu Curso</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'students:quiz_list' %}" class="btn btn-outline-secondary">Cancelar</a>
  </form>
{% endblock %}