{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--Información del examen a tomar-->

<div class="container-fluid" style="text-align: center, justify">
        <h2 class="text-center"><strong>{{ quiz.name }}</strong></h2> 
        <br>
        <p class="mb-3"><strong>Profesor: </strong> {{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</p> 
        <p class="mb-3" style="float: right;" ><strong>Curso: </strong> {{ quiz.curso }}</p>    
        <p class="mb-3"><strong>Puntos:</strong> {{quiz.max_score}}</p> 

        <br>
        <div class="card border-dark ">
                <div class="card-body">
                        <strong>Instrucciones:</strong>
                        <br>
                        <br>
                        <p class="text-justify" style="white-space: pre-wrap; ">{{ quiz.description }}</p>
                        <pre style="font-family: Arial, Helvetica, sans-serif"></pre>
                </div>

        </div>


</div>

<br>
<a id="shortlyStart" href="{% url 'students:take_quiz' quiz.pk  %}" class="btn btn-primary">Siguiente →</a>

{% endblock %}