{% extends 'base.html' %}
<!--Vista de las pruebas que el alumno puede tomar-->
{% block content %}
  {% include 'classroom/students/_header.html' with active='new' %}
  <div class=" table-responsive table-sm ">
    <table id="example" class="table table-bordered display  ">
      <thead>
        <tr>
          <th class="text-center">Examen</th>
          <th class="text-center">Asignatura</th>
          <th class="text-center">Profesor</th>
          <th class="text-center">Preguntas</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle text-center">{{ quiz.subject.get_html_badge }}</td>
            <td class="align-middle text-center">{{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</td>
            <td class="align-middle text-center">{{ quiz.questions_count }} Preguntas</td>
            <td class="text-center">
              <a href="{% url 'students:quiz_info' quiz.pk %}" class="btn btn-primary">Comenzar Examen</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No hay examenes que puedas tomar en este momento.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
