{% extends 'base.html' %}
<!--Vista de las pruebas que el alumno tomo-->
{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="table-responsive">
    <table id="example" class="table table-bordered  display table-sm">
      <thead>
        <tr>
          <th class="text-center">Examen</th>
          <th class="text-center">Asignatura</th>
          <th class="text-center">Profesor</th>
          <th class="text-center">Nota</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td class="text-center">{{ taken_quiz.quiz.name }}</td>
            <td class="text-center">{{ taken_quiz.quiz.subject.get_html_badge }}</td>
            <td class="text-center">{{taken_quiz.quiz.owner.first_name }} {{ taken_quiz.quiz.owner.last_name }}</td>       
            <td class="text-center" ><span class="{% if taken_quiz.score < 3.99 %} badge badge-danger {% else %} {% if taken_quiz.score >= 4.0 and taken_quiz.score < 4.95 %} badge badge-success  {% else %}{% if taken_quiz.score >= 4.95 %}badge badge-primary {% endif %} {% endif %} {% endif %}">{{ taken_quiz.score }}</span></td>           

          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">No has realizado ningun examen todavia</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


{% endblock %}
