{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <!--Barra de progreso-->
  <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
    </div>
  <!--Cronometro-->
    <div class="mb-3" id="defaultCountdown" ></div> <br>

    <h4 class="mb-3">{{ quiz.name }}</h4>

    <hr>
<br>
  {% if question.texto == False %}
  <p></p>
  {% else %}
  {% if question.texto %}
  <div  class="border border-dark">
      <br>
      <div class="container">
        <div>

            <h3 class="text-left">{{question.texto}}</h3>
            <h4> {{question.texto.subtitulo}} </h4>
            <p class="text-justify" style="white-space: pre-wrap; ">{{question.texto.texto}}</p>

            <br>

        </div>
        </div>
      <br>
    </div>
{% endif %}
{% endif %}

<div  class="border border-dark">
  <br>
  <div class="container">

    <h4 class="lead"> <strong>{{question.number}}.-  {% if question.pregunta %} {{question.pregunta}} {% else %} {{ question.text }} {% endif %} ({{ question.puntaje}} puntos)</strong></h4>

        {% if question.description %}
      <h5 class="lead">{{ question.description }} </h5>
      {% endif %}


      <!--Audio de la pregunta-->
      {% if question.document == 'False' %}
      {% else %}
        {% if question.document  %}
        <audio controls='controls'>
          <source src="{{ question.document.url }}" type="audio/mpeg">
        </audio>

        {% endif %}
      <p></p>
      {% endif %}
    {% if question.video == 'False' %}
      <p></p>

      {% else %}
      {% if question.video %}
      <video width="320" height="240" controls='controls'>
        <source src="{{ question.video.url }} " type="video/mp4">
      </video>
      {% endif %}
      {% endif %}
      {% if question.image == 'False'  %}
      <p></p>

      {% else %}
      {% if question.image %}
      <br>
      <a href="{{ question.image.url }}" target="_blank"><img src="{{ question.image.url }}"  class="img-fluid border border-dark float-md" style="width: 25%;"/></a>

      {% endif %}
      <br>
      {% endif %}
      <br>
    <!--
      {% if question.url %}
      <iframe width="420" height="315" src="https://www.youtube.com/embed/{{question.url}}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      {% else %}
      {% endif %}
    -->
      <form method="post" name="takenquiz" id="takenquiz" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary redirect"  >Siguiente →</button>
      </form>
      <br>
  </div>
    <br>
</div>










  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--Función java del cronometro-->
<script>

    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

    function cookieExists(name){
      if(document.cookie.indexOf(name+'=')==-1){
        return false;
      }
      else{
        return true;
      }
    }

    var time = {{ timeQ }};
    if(cookieExists('time')){
      time=getCookie('time')/60;
    }


  $(function () {

    newYear = new Date();
    newYear.setSeconds(newYear.getSeconds() + time*60);
    $('#defaultCountdown').countdown({until: newYear, onExpiry: liftOff,onTick: timeset});

    function timeset() {
      var tarra=$('#defaultCountdown').countdown('getTimes');
      var count=0;
      for (let i = tarra.length-1; i > -1; i--) {
        count = count + (tarra[i] *(60**((tarra.length-1)-i)));
      }
      document.cookie = "time="+count;
    };



    function liftOff() {
      document.cookie = "time= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";//delete cookie
      alert('El Examen ah terminado! Una vez respondas esta última pregunta terminara el examen.');

    }

  });





</script>
{% endblock %}

